body.dragging {
cursor: move !important;
}

.questiontext:hover{
  cursor: move !important;
}
ul  {list-style-type: none !important;}

li {border: 1px solid #cccccc; margin-top:10px;
  margin-bottom:10px;
padding-left:20px;}

