.settings_frame{
  color: #303F9F !important;
}

.title_card{
  padding-left: 0px !important;
}

.admin_menu{
  position: absolute;
  z-index: 9999 !important;
}


.catalog{
  margin-bottom: 20px !important;

}
.grey-font{
  color:#757575 !important;
}

.settings_cards{
  margin-right: 20px !important;
}

.new_Email_frame{
  padding-top:30px !important;
}
.settings_frame{
  padding-top:30px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  padding-bottom: 25px !important;
}


.admin_button{
  color: #303F9F !important;
  background: #FFFFFF !important;
  min-width: 70px !important;
}

.answer_list{
  list-style-type:none;
}

.statementtext{
  padding:16px !important;
  font-size: 20px !important;
}

.statementEdit{
  margin-top: 18px;
  margin-bottom: -50px;
}

.pointEdit{
  margin-top: -34px;
  margin-bottom: -83px;
}

.answerEdit {
  margin-top: 0px;
  margin-bottom: 0px;
}

.labelEditAnswer{
  margin-left: 55px;
}

.statement_buttons, .answer_buttons, .security_type_buttons, .result_buttons{
  right:0px !important;
  top:0px !important;
  position: absolute;
  display: block;
}

.statement_title, .answer_list, .answer_text{
  display: block !important;
  position: relative !important;
}


.statementtext, .statement_title, .answer_list, .add_statement_frame{
  font-size: 22px !important;
  line-height: 40px !important;
}


.option_text{
  padding-left:60px !important;
}

.option_text:hover{
  background: #F5F5F5 !important;
}


.active_checklist{
  color:#4caf50 !important;
  font-size: 30px !important;
  cursor: pointer;
  padding-left:10px !important;
}
.checklist_name:hover{
  cursor: pointer;
}

.unactive_checklist{
  color:#BDBDBD !important;
  cursor: pointer;
  font-size: 30px !important;
  padding-left:10px !important;
}


.option_text{
  cursor: pointer;
}


.add_result_to_option{
  border: 1px solid grey;
  padding:5px;

}


.pr_ans_div{
  padding-left: 75px !important;
}


.prod_table{
  color:#999 !important;
  padding:0px !important;
  margin-left: 60px !important;
}
/*
.prod_table td {
height: auto !important;
  padding:0px !important;
}
.prod_table th {
  line-height: 20px !important;
  padding:0px !important;}
*/


.prod_table th {
  font-size: 20px !important;
  font-family: 'telegrotesk_halfbold' !important;
  line-height:normal !important;
}

.mdl-layout__tab-bar-container, .mdl-layout__tab-bar-container div{
  background: #303F9F !important;
}


.option_rang{
  padding-bottom: 20px !important;
  padding-left: 60px !important;
}


.input_rang{
  width: 50px !important;
}



#myInput {
  border-box: box-sizing;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  z-index: 10;
  position: relative;
  color:#999;
  font-family: 'telegrotesk_halfbold' !important;
}

.dropdown-content a {
  color: #999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.result_points_text{
  margin-left: 25px;
}

.result_points{
  margin-left: 50px;
}

.resultsForOption_title{
  margin-left: 60px;
}

.addResults_font_size{
  font-size: 18px;
  width: 300px;
}

.resultsForOptions {
  margin-left: 90px;
}

.edit_data{
  font-family: 'telegrotesk_halfbold' !important;
  width: 68vw;
}

.edit_checklist_name{
  padding-top: 10px;
}

.addResults_SecType{
  margin-top: 20px;
}

.dropdown_content_checklist{
  z-index:20 !important;
  position: fixed !important;

}

.dropdown_checklist{
  position: absolute !important;
  right: 0px;
  top: 0px;
}

.checklist_hide{
  display: none !important;
}

.show_content {
  right: 0px;
  margin-top: 5px;
  display: inline-block;
}

.simple_with_animation{
  width: 75vw;
}

.statement_button_points{
  float: right;
}

.statement_options{
  margin-left: 85px;
}

.statement_points{
  margin-left: 12px;
}

.result_text{
  margin-bottom: -34px;
}

.margin_result{
  margin-top: 15px;
}

.div_text{
  max-width: 95%;
  float: left;
  margin-top: -14px;
  display: inline-block;
}

.div_button{
  float: right; /* if you don't want #second to wrap below #first */
}

.div_parent {
  min-width: 722px;
  overflow: hidden; /* will contain if #first is longer than #second */
}

textarea {
  margin-top: 10px;
  margin-left: 10px;
  width: 700px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  outline-width: 0;
}

.margin_long {
  margin-left: 25px;
}
