.settings_frame{
  color:#757575 !important;
}

.title_card{
  padding-left: 0px !important;
}

/*.admin_tabs, .tab_ap{
  background: #FFFFFF !important;
  color:#616161 !important;
}
*/

.admin_menu{
  position: absolute;
  z-index: 9999 !important;
}


.catalog{
  margin-bottom: 20px !important;

}
.grey-font{
  color:#757575 !important;
}

.settings_cards{
  margin-right: 20px !important;
}

.new_Email_frame{
  padding-top:30px !important;
}
.settings_frame{
  padding-top:30px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  padding-bottom: 25px !important;
}


.admin_button{
  color: #FFFFFF !important;
  background: #E20074 !important;
  min-width: 70px !important;
}

.answer_list{
  list-style-type:none;
}

.questiontext{
  padding:16px !important;
  font-size: 20px !important;
}

.questionEdit{
  margin-top: -39px;
  margin-bottom: -80px;
}

.answerEdit {
  margin-top: 0px;
  margin-bottom: 0px;
}

.labelEditAnswer{
  margin-left: 55px;
}

.question_buttons, .answer_buttons, .security_type_buttons, .product_buttons{
  right:0px !important;
  top:0px !important;
  position: absolute;
  display: block;
}

.question_title, .answer_list, .answer_text{
  display: block !important;
  position: relative !important;
}


.questiontext, .question_title, .answer_list, .add_question_frame{
  font-size: 22px !important;
  font-family: 'telegrotesk_halfbold' !important;
  line-height: 40px !important;
}


.answer_text{
  padding-left:60px !important;
}

.answer_text:hover{
  background: #F5F5F5 !important;
}


.active_catalog{
  color:#4caf50 !important;
  font-size: 30px !important;
  cursor: pointer;
  padding-left:10px !important;
}
.catalog_name:hover{
  cursor: pointer;
}

.unactive_catalog{
  color:#BDBDBD !important;
  cursor: pointer;
  font-size: 30px !important;
  padding-left:10px !important;
}


.answer_text{
  cursor: pointer;
}


.add_product_to_answer{
  border: 1px solid grey;
  padding:5px;

}


.pr_ans_div{
  padding-left: 75px !important;
}


.prod_table{
  color:#999 !important;
  padding:0px !important;
  margin-left: 60px !important;
}
/*
.prod_table td {
height: auto !important;
  padding:0px !important;
}
.prod_table th {
  line-height: 20px !important;
  padding:0px !important;}
*/


.prod_table th {
  font-size: 20px !important;
  font-family: 'telegrotesk_halfbold' !important;
  line-height:normal !important;
}

.mdl-layout__tab-bar-container, .mdl-layout__tab-bar-container div{
  background: #E20074 !important;
}


.answer_rang{
  padding-bottom: 20px !important;
  padding-left: 60px !important;
}


.input_rang{
  width: 50px !important;
}



#myInput {
  border-box: box-sizing;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  z-index: 10;
  position: relative;
  color:#999;
  font-family: 'telegrotesk_halfbold' !important;
}

.dropdown-content a {
  color: #999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.product_points_text{
  margin-left: 25px;
}

.product_points{
  margin-left: 50px;
}

.productsForAnswer_title{
  margin-left: 60px;
}

.addProduct_font_size{
  font-size: 18px;
  width: 300px;
}

.productsForAnswer {
  margin-left: 25px;
}
.edit_data{
  font-family: 'telegrotesk_halfbold' !important;
  width: 1200px;
}
.edit_catalog_name{
  padding-top: 10px;
}
.addProduct_SecType{
  margin-top: 20px;
}
.dropdown_content_catalogs{
  z-index:20 !important;
  position: fixed !important;

}
.dropdown_catalogs{
  position: absolute !important;
  right: 0px;
  top: 0px;
}

.catalog_hide{
  display: none !important;
}
.show_content {
  right: 0px;
  margin-top: 5px;
  display: inline-block;
}

