/**
 * Created by lizakanitz on 14.10.16.
 */

.main-layout {
  background: #303F9F !important;
  color: #FFFFFF !important;
}

.white-layout {
  background: #FFFFFF !important;
  color: #303F9F !important;
}



.mdl-layout__header {
  background: #303F9F !important;
}

.mdl-layout-title {
  font-family:sans-serif !important;
}

.mdl-card__title,
.mdl-card__supporting-text,
table #btn_start_check {
  font-family:sans-serif !important;
  font-size: 28px !important;
}

h2 {
  font-family:sans-serif !important;
  font-size: 28px !important;
}

tr {
  font-family:sans-serif !important;
  font-size: 22px !important;
}


/*The whole area in the middle of the Welcome Page*/

.welcome_panel {
  text-align: center;

}



.welcome_center_panel,
.welcome_center_slogan,
.welcome_center_startbutton
{
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-top: 30px;
  font-family:sans-serif !important;
}

.welcome_center_slogan {
  font-size: 44px;
  line-height: 40px;
  margin-top: 50px;
}

.welcome_center_logo {
  height: 270px;
  /*margin-top: 60px;*/
}

.welcome_center_startbutton {
  margin-bottom: 30px !important;
}


/*Webapplication name*/

.welcome_main_name {}

.white_accent_button {
  color: #303F9F !important;
  background: #FFFFFF !important;
  min-width: 70px !important;
}

.statement_number{
  font-size: 26px !important;
  color:#9E9E9E !important;
}


.statement_text {
  font-size: 36px !important;
  font-family:sans-serif !important;
  color: black !important;
  line-height: 40px !important;
}



.option_card {
  padding: 16px !important;
  max-height: 150px;
  cursor: pointer;
  color:#9E9E9E !important;
  font-size: 22px !important;
  font-family:sans-serif !important;
  /*margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;*/
}

.option_card:hover {
  background: #BBBBBB;
  color:#FFFFFF !important;
}


.option_height {
  height: auto;
  /* max-height: 50px !important;*/
  min-height: 30px !important;
  height: 50px !important;
}

.card_width_minimize {
  /*max-width: 200px !important;*/
}


.small_logo {
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact_card {
  color: black !important;
}

#contact_frame{

}


#myProgress {
  position: relative;
  width: 100%;
  height: 15px;
  background-color: grey;
}
#myBar {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #303F9F;
}


.done_icon{
  font-size: 22px !important;
  padding-left: 20px !important;
  color:#FFFFFF !important;
}


.statement_back{
  margin-bottom: 16px !important;
  margin-top: 16px !important;
  margin-right: 16px !important;
  margin-left:8px !important;
  height: 45px !important;
  cursor: pointer;
  color:#9E9E9E !important;
  font-size: 22px !important;
  font-family:sans-serif !important;
  background: #FFFFFF !important;
}
.statement_back:hover{
  background: #303F9F !important;
  color:#FFFFFF !important;
}

.show_result{
  margin-bottom: 16px !important;
  margin-top: 16px !important;
  margin-right: 16px !important;
  margin-left:8px !important;
  height: 45px !important;
  cursor: pointer;
  color:#FFFFFF !important;
  font-size: 22px !important;
  font-family:sans-serif !important;
  background: #303F9F !important;
}

.arrow_back{
  padding-right:10px !important;
}

.arrow_forward{
  padding-left:10px !important;
}

.admin_logo{
  height: 30px !important;
  padding-right: 10px;
}
.btn_mail{
  color: #303F9F !important;
  background: #FFFFFF !important;
  min-width: 70px !important;
}

#progress_circles {
  text-align: center;
  margin-top: 15px;
  height: 15px;
  padding: 0;
}

#progress_circles li {
  list-style: none;
  display: inline-block;
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

#progress_circles li.done {
  background-color: dimgrey;
}

#progress_circles li.current {
  background-color: #303F9F;
}
.middle_card{
  background-color: #303F9F !important;
  color: white !important;
}
#progress_circles li.open {
  background-color: lightgrey;
}

.iconlist{
  float: left;margin-right:10px;margin-left:10px;margin-top: 5px;
}
.divider{
  width:95%; margin: 1px 0;margin-bottom: 3px;background-color:grey;border:grey;
}
.createdby{
  position: absolute;bottom: 0;left: 22%;color:dimgrey;
}



.mail_buttons{
  margin-bottom: 16px !important;
  margin-top: 16px;
  margin-right: 15px !important;
  margin-left:15px !important;
  width: 220px !important;
  min-height: 45px !important;
  cursor: pointer;
  color:#9E9E9E !important;
  font-size: 100% !important;
  font-family:sans-serif !important;
  background: #FFFFFF !important;
  height: 70px;
  line-height: 100%;
}
.mail_buttons:hover{
  background: #303F9F !important;
  color:#FFFFFF !important;
}

.overview_options{
  padding-left: 17px;
}
.mail_buttons_div {
  vertical-align: middle !important;
  text-align: center !important;
}

.option_clicked{
  background: #cccccc !important;
  color: white !important;
}
.button_text{
  margin-top: -6px !important;
  position: absolute;
}



.light_blue_background{
  background: #BBDEFB !important;
}


#slider:hover{
  cursor: pointer;
}


.selected_option{
  text-shadow: 5px 8px 8px #757575;
  font-weight: 700;
}

.option_with_step{
  padding-top: 15px;
  padding-bottom: 30px;
}

.option_with_step:hover{
  cursor: pointer;
  text-shadow: 5px 8px 8px #757575;
  font-weight: 700;
}

.options_table{
  table-layout: fixed;
  width: 100%;
  vertical-align: top;
}

.option_cell{
  text-align: center;
}

.option_cell_first{
  text-align: left !important;
}

.option_cell_last{
text-align: right !important;
}

.welcome_center_logo:hover{
  cursor: pointer;
}

.box1{
  background-color:#FFFFFF;
  /*width:400px;
  height: 550px;
  float:left;
  width:25%;
  height:550px;
  float: left;
  margin: 10px;
  margin-left: 3% !important;*/
  color: #9E9E9E;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  box-shadow: 1px 1px 20px #000000;
}
.box2{
  background-color:#9E9E9E !important;
  /*width:400px;
  height: 550px;

  height:550px;
  float:right;
  margin: 10px;
  margin-right: 3% !important;*/
  box-shadow: 1px 1px 20px #000000;
  color: #FFFFFF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;

}

.box1_text{
  color:#757575 !important;
}
.box2_text{
  color: white !important;
}
.bigbox{
  /*width:100%;
  height: 100%;*/
  background-color: #303F9F;
  font-family:sans-serif !important;
  margin-top: 20px;
  display:inline-block;


}

#chart_area{
  max-width: 450px !important;
  margin: auto;
}


.header1{
  background-color: #989898 !important;
  color: #FFFFFF;
  font-size: 50px;
  margin: 10px;
  text-align: center;
  height: 75px;
  vertical-align: middle;
  padding-top: 20px;
  line-height: 100%;
}
.header2{
  background-color: #FFFFFF;
  font-size: 50px;
  margin: 10px;
  text-align: center;
  color: #9E9E9E;
  height: 75px;
  padding-top: 20px;
  line-height: 100%;
}
.data
{
  margin: 10px;
  height: 75px;

}


.datatext{
  float: left;
  margin:5px;
  width: 80%;
}
.Thumbs{
  height: 25px;
  width: 25px;

  float: left;
}
#result_background{
  width:100%;
  height: 200px;
  background-color: #303F9F;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  position: relative;
  line-height: 100%;
}
.thumb_icon{
  width:25px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
  float:left;
  padding-top: 5px;
}

.tooltip1 {
  color: #9E9E9E;
  text-decoration: underline;
  cursor: help;
  position: absolute;
  font-size: 20pt;
  overflow: visible;
}

.tooltip1 span[rel=tooltip1] {
  display:none;

}

.tooltip1:hover span[rel=tooltip1] {
  display: block;
  position: absolute;
  bottom: -2em;
  left: 8em;
  width: 350px;
  padding: 0.5em;
  z-index: 10000;
  color: #FFFFFF;
  background-color: #9E9E9E;
  border: solid 1px #9E9E9E;
  border-radius: 0.2em;
  box-shadow: 1px 1px 20px #000000;
  font-size: 12pt;
  overflow: visible;
}
.tooltip2 {
  color: #FFFFFF;
  text-decoration: underline;
  cursor: help;
  position: relative;
  font-size: 20pt;
  z-index: 10000;
  overflow: visible;

}
.tooltip2 span[rel=tooltip2] {
  display:none;
}

.tooltip2:hover span[rel=tooltip2] {
  display: block;
  position: absolute;
  bottom: -2em;
  left: 8em;
  width: 350px;
  padding: 0.5em;
  z-index: 10000;
  color: #9E9E9E;
  background-color: #FFFFFF;
  border: solid 1px #FFFFFF;
  border-radius: 0.2em;
  box-shadow: 1px 1px 20px #000000;
  font-size: 12pt;
  overflow: visible;
}



#myChart{
  width: 100% !important;
  height: 100% !important;
}

.welcome_slogan_text{
  font-size: 28px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.percent_text_red{
  color:red;
}

.percent_text_yellow{
  color:yellow;
}

.percent_text_green{
  color:green;
}


#result_in_percent{
  margin-left: 10px !important;
  margin-right: 10px !important;
align-content: center;
  font-size: 48px !important;
}


#result_as_text
{
  color:white !important;
}
